{% extends 'base.html.twig' %}

{% block title %}Event index{% endblock %}

{% block body %}

{% for event in events %}
<h3>{{ event.title }}</h3>
<ul>
    <li>{{ event.title }}</li>
    <li>{{ event.game }}</li>
    <li><a href="{{ path('event_show', {'slug': event.slug}) }}">Voir</a></li>
</ul>
{% endfor %}
<a href="{{ path('event_new') }}">Créer un evenement</a>
{% endblock %}
