{% extends 'base.html.twig' %}

{% block title %}Hello SubjectController!{% endblock %}

{% block body %}
<div class="px-6 py-8">
        <div class="container flex justify-between mx-auto">
            <div class="w-full lg:w-8/12">
                <div class="flex">
                    <h1 class="text-xl font-bold text-gray-700 md:text-2xl">Tous les sujets</h1>
                </div>
                <div class="flex flex-wrap">
                    {% for event in events %}
                    <div class="m-6 w-3/8">
                        <div class="max-w-full px-10 py-6 bg-white border-2 rounded-lg border-blue-100 shadow-md">
                            <div class="flex justify-between"><span class="font-light text-gray-600">{{ event.date|date('d-m-Y à H:i')}}</span>
                                <a href="#" class="px-2 py-1 font-bold text-gray-100 bg-gray-600 rounded hover:bg-gray-500">
                                        {{ event.game }}
                                </a>
                            </div>
                            <div class="mt-2"><a href="#" class="text-2xl font-bold text-gray-700 hover:underline">{{ event.title }}</a>
                                <p class="mt-2 text-gray-600">{{ event.synopsis }}</p>
                            </div>
                            <div class="flex items-center justify-between mt-4"><a href="{{ path('event_show', {'slug': event.slug}) }}"
                                    class="text-blue-500 hover:underline">Read more</a>
                                <div><a href="#" class="flex items-center">
                                        <h1 class="font-bold text-gray-700 hover:underline">{{ event.creator.username}}</h1>
                                    </a></div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="hidden w-4/12 -mx-8 lg:block">
                <div class="px-8">
                    <h1 class="mb-4 text-xl font-bold text-gray-700">Les utilisateurs plus actifs</h1>
                    <div class="flex flex-col max-w-sm px-6 py-4 mx-auto bg-white border-2 rounded-lg border-blue-100 rounded-lg shadow-md">
                        <ul class="-mx-4">
                        {% for user in users %}
                            <li class="flex items-center">
                                <p><a href="#" class="mx-1 font-bold text-gray-700 hover:underline">{{ user.username }}</a><span
                                        class="text-sm font-light text-gray-700"> {% if user.contribution <= 0 %}
                                        0 point
                                        {% else %}
                                        {{user.contribution}} points 
                                        {% endif %}
                                </span></p>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="px-8 mt-10">
                    <h1 class="mb-4 text-xl font-bold text-gray-700">Prochain Event</h1>
                    <div class="flex flex-col max-w-sm px-6 py-4 mx-auto bg-white border-2 rounded-lg border-blue-100 rounded-lg shadow-md">
                        <ul class="-mx-4">
                        {% for user in users %}
                            <li class="flex items-center">
                                <p><a href="#" class="mx-1 font-bold text-gray-700 hover:underline">{{ user.username }}</a><span
                                        class="text-sm font-light text-gray-700"> {% if user.contribution <= 0 %}
                                        0 point
                                        {% else %}
                                        {{user.contribution}} points 
                                        {% endif %}
                                </span></p>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="px-8 mt-10">
                    <div class="flex flex-col max-w-sm px-4 py-6 mx-auto">
                        <h3 class="mb-4 text-xl font-bold text-gray-700"><a href="{{ path('event_new') }}"><button class="bg-blue-500 flex justify-center items-center w-full text-white px-4 py-3 rounded-md focus:outline-none">Créer un event</button></a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% for event in events %}
<h3>{{ event.title }}</h3>
<ul>
    <li>{{ event.game }}</li>
    <li><a href="{{ path('event_show', {'slug': event.slug}) }}">Voir</a></li>
</ul>
{% endfor %}
<a href="{{ path('event_new') }}">Créer un evenement</a>
{% endblock %}