{% extends 'base.html.twig' %}

{% block title %}Event{% endblock %}

{% block body %}
<div class="flex justify-center">
    <div class="w-5/6 px-10 my-4 py-6 bg-white border-2 rounded-lg border-blue-200 rounded-lg shadow-md">
        <div class="flex justify-between items-center">
            <span class="text-gray-600">{{ event.game }}</span>
        </div>
        <div class="text-center mt-2">
            <a class="text-3xl text-gray-700 font-bold hover:text-gray-600" href="#">{{ event.title }}</a>
            <p class="mt-6 text-gray-600">Le {{ event.date|date('d-m-Y à H:i') }} heures pendant {{ event.duration }} heures.</p>
        </div>
        <div class="mt-2">
            <p class="mt-6 text-gray-600">{{ event.description|raw }}</p>
        </div>
        <div class="flex justify-between items-center mt-4">
            <div>
                <a class="flex items-center" href="#">
                    <h1 class="text-gray-700 font-bold">{{ event.creator.username }}</h1>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="text-center">
{% if app.user in event.players %}
{{ include('event/_leave_button.html.twig') }}
{% else %}
{{ include('event/_join_button.html.twig') }}
{% endif %}
</div>
{% endblock %}