{{ form_start(form) }}
<div class="min-h-screen bg-gray-100 py-6 flex flex-col justify-center sm:py-12">
  <div class=" w-3/4 relative py-3 sm:max-w-xl sm:mx-auto">
    <div class="relative px-4 py-10 bg-white mx-8 md:mx-0 shadow rounded-3xl sm:p-10">
      <div class="max-w-lg mx-auto">
        <div class="flex items-center space-x-5">
          <div class="h-14 w-14 bg-gray-900 rounded-full flex flex-shrink-0 justify-center items-center text-white text-2xl font-mono">i</div>
          <div class="block font-semibold text-xl text-gray-700">
            <h2 class="leading-loose">Modifie ton profile</h2>
          </div>
        </div>
        <div class="divide-y divide-gray-200">
          <div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">
            <div class="flex flex-col">
              <label class="leading-loose">Pseudo</label>
              {{ form_row(form.username, {'attr': {'class': 'px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600'}}) }}
            </div>
            <div class="flex items-center space-x-4">
                <div class="flex flex-col">
                <label class="leading-loose">Nom</label>
                {{ form_row(form.lastname, {'attr': {'class': 'px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600'}}) }}
                </div>
                <div class="flex flex-col">
                <label class="leading-loose">Prénom</label>
                {{ form_row(form.firstname, {'attr': {'class': 'px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600'}}) }}
                </div>
            </div>
            <div class="flex flex-col">
              <label class="leading-loose">E-mail</label>
              {{ form_row(form.email, {'attr': {'class': 'px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600'}}) }}
            </div>
            <div class="flex flex-col">
              <label class="leading-loose">Ville</label>
              {{ form_row(form.city, {'attr': {'class': 'px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600'}}) }}
            </div>
            <div class="flex flex-col">
              <label class="leading-loose">Discord</label>
              {{ form_row(form.discord, {'attr': {'class': 'px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600'}}) }}
            </div>
            <div class="flex flex-col">
              <label class="leading-loose">Twitch</label>
              {{ form_row(form.twitchChannel, {'attr': {'class': 'px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600'}}) }}
            </div>
            <div class="flex flex-col">
              <label class="leading-loose">Description</label>
              {{ form_row(form.description, {'attr': {'class': 'px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600'}}) }}
            </div>
          </div>
          <div class="pt-4 flex items-center space-x-4">
              <button class="flex justify-center items-center w-full text-gray-900 px-4 py-3 rounded-md focus:outline-none">
                <svg class="w-6 h-6 mr-3" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path></svg> Cancel
              </button>
              <button class="bg-blue-500 flex justify-center items-center w-full text-white px-4 py-3 rounded-md focus:outline-none">{{ button_label|default('Valider') }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ form_end(form) }}